*{
    margin: 0px;
    padding: 0px;
}
.product1{
    width: 20px;    
    background-color: cornsilk;
    padding: 10px;
    flex-grow: 1;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: auto;
}
.product2{
    width: 20px;
    padding: 10px;
    background-color: green;
    flex-grow: 1;
    text-align: center;
    height: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}
.mainproduct{
    flex-wrap: wrap;
    gap: 10px;
    display: flex;
    justify-content: center;
}